
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --custom_themme_color:#d52027 ;
    --white_color:#fff;
    --light_gray_color:#6d6c6c;
    --icon_themme_color:#f76e59;
    --body_background:#f6ffe04f;
  }
  body{
    background: var(--body_background);
  }
  .row{
    width: 100%;
    margin: auto;
  }
  .pending_text, .complete_text{
    margin: 0;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
    font-weight: 600;
  }
  .modal-header{
    background: #e5f7e2;
    padding: 5px 19px;
  }
  .modal-header .modal-title{ 
    font-size: 16px;
    color: #009688;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  .table tbody td a{
    color: #8687a7;
    font-weight: 600;
  }
    .pending_text{
        background: #f9f2cbb0;
    }
    .complete_text{
        background:#e5f7e2;
    }
    .pending_text:hover{
        background: #ffea74;
        color: #fff;
    }
    .complete_text:hover{
        background:#bcf8b2;
        color: #fff;
    }
  .gray_color{
    color:var(--light_gray_color);
  }
  .theme_color {
    color: #605e5c !important;
}
  .red_color {
    color: var(--custom_themme_color) !important;
}
.pl-200{
    padding-left: 255px;
}
.icon_themme_color {
    color:var(--icon_themme_color) !important;
}
.light_gray_color{
    color: var(--light_gray_color);
}
.bg_notify{
    background: #e6faff !important;
    color: #5d5a5a !important;
}
.offcanvas.vendor-offcanvas {
    width: 600px !important;
}
.offcanvas.extra_lg_form_width{
    width: 850px !important;
}
.offcanvas-body h5{
    color: #795548;
    font-size: 16px;
}
.td_img img{
  height: 70px;
    width: 70px;
}
.Menu_main_heading{
  font-size: 13px;
  font-variant: all-small-caps;
  font-weight: bold;
}
.fs_12{
    font-size: 12px;
}
.profit{
    background: #e7f7dd;
    padding: 5px;
    color: #027c71;
    font-weight: bold;
    border-radius: 3px;
}
.Loss{
    background: #ffdcda;
    padding: 5px;
    color: #E91E63;
    font-weight: bold;
    border-radius: 3px;
}
.btn-primary{
  background: var(--custom_themme_color) !important;
    /* border: #ab5959 !important; */
    border: var(--custom_themme_color) !important;
    color: var(--white_color);
}
.logo-light{
    float: left;
}

.offcanvas .sub-menu li a{
    color: black;
}
.rightbar .rightbar-title {
    background: #e7f7dd;
}
.rightbar .rightbar-title h5 {
    color: #027c71;
    font-weight: bold;
}
.right_sidebar_accordion .accordion-collapse {
    background: #fcfff5;
    padding-top: 15px;
}
.right_sidebar_accordion .accordion-item button{
    background: none;
}
.right_sidebar_accordion .accordion-button:not(.collapsed) {
    color: var(--custom_themme_color);
    box-shadow: 7px 3px 5px #e7f7ddb0 !important;
    background: none !important;
}
.right_sidebar_accordion li, .right_sidebar_ul li {
    list-style: none;
}
.right_sidebar_accordion li a, .right_sidebar_ul li a{
    color: black;
}
.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.right_sidebar_theme .img-thumbnail{
    max-width: 70px !important;
}
.offcanvas.offcanvas-end {
    background: #fffceb;
}
.offcanvas-header{
    border-bottom: 1px solid gray;
}
.offcanvas-header h5{
    color: #241e1e;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    letter-spacing: 0.3px;
    font-weight: 600;
    margin-bottom: 5px;
}
.offcanvas-header label{
    font-weight: 400;
}
.offcanvas.offcanvas-end .btn{
    padding-left: 30px;
    padding-right: 30px;
}
.bx-search-alt:before {
    color: var(--light_gray_color);
}
.page-title-box .page-title{
    line-height: 35px !important;
}
.thead_th_bg th{
    /* background: #fff8e4; */
    color: black;
}
.table thead th {
    font-weight: 500;
    border-top: none;
}
.table th, .table td{
    padding: 5px 10px !important;
    font-weight: 300;
}
.agency-service-content .table th, .agency-service-content .table td{
    padding: 5px 5px !important;
    font-weight: 300;
}
.dataTable td, .dataTable th {
    border: var(--bs-border-width) solid #f3f2f18a !important;
}
table.dataTable.table-striped>tbody>tr.odd>* {
    box-shadow: inset 0 0 0 9999px rgb(252 255 245);
}
.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #9fd5c9;
    border: none;
}
.addbtn{
    background: #FFFADE;
    color: black;
    border: 1px solid #FFC107;
}
.edit_btn{
    font-size: 20px;
    padding: 0;
    color: #45cb8580;
    margin-right: 8px;
}
.edit_btn:hover{
    font-size: 20px;
    padding: 0;
    color: #45cb85;
    margin-right: 8px;
}
.del_btn{
    font-size: 20px;
    padding: 0;
    color: #fb93837d;
}
.del_btn:hover{
    font-size: 20px;
    padding: 0;
    color: #fb9383;
}

.offcanvas-body input, .offcanvas-body textarea, .offcanvas-body select{
    background: var(--white_color);
    padding: 2px 10px;
    border-radius: 10px;
}
.qty_btn{
    padding: 5px 10px;
    background: #e7f7dd;
    color: #009688;
    font-weight: bold;
}
.Print_btn{
    background: #e5f7e2;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: #009688;
}
.download_btn{
    background: #e5f7e2;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: #009688;
}
.submit_btn{
    width: 160px;
    background: #CAE3B5;
    color: #5d5a5a;
    font-weight: 700;
    border: none;
    padding: 5px 10px;
    border-radius: 16px;
    font-size: 17px;
}
.vendor-offcanvas .submit_btn{
    margin-top: 10px;
    width: 200px;
    padding: 8px;
    border-radius: 30px;
}
.right-bar .fw-bold {
    font-weight: 500 !important;
}
.new_form_p{
    font-family: "Open Sans";
    font-style: italic;
    font-size: 13px;
    margin-bottom: 8px;
}
.offcanvas-body label{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
}
.new_table_div .card{
    box-shadow: none !important;
}
.table_btn_div button, .buttons-copy, .buttons-excel, .buttons-pdf, .buttons-colvis,.buttons-print,.buttons-csv {
    margin-right: 10px;
    color: #5d5a5a !important;
    font-weight: 500;
    margin-right:10px;
    border: none;
    border-radius: 3px !important;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}
.table thead th {
    font-weight: 400;
    border-top: none;
    color: #4f4e4e;
}
.buttons-copy, .add_form_btn{
    background: #f9f2cbb0;
}
.buttons-excel{
    background: #e6faff;
}
.buttons-pdf{
    background: #ffefef;
}
.buttons-colvis{
    background: #e5f7e2;
}
.buttons-print {
    background: #e2f2f7;
}
.buttons-csv {
background: #e4e2f7;
}
.add_form_btn{
    padding:5px 10px;
}
.export_btn{
    padding:5px 10px;
    background: #e3e8ff;
}
.buttons-copy:hover, .add_form_btn:hover{
    background: #fae98a;
}
.buttons-excel:hover{
    background: #a1e4f5;
}
.buttons-pdf:hover{
    background: #f9b2b2;
}
.buttons-colvis:hover{
    background: #c7ffbe;
}
.buttons-print:hover{
    background: #bce8f5;
}
.buttons-csv:hover{
background: #bfb9f8;
}
.add_form_btn:hover{
    padding:5px 10px;
}
.export_btn:hover{
    padding:5px 10px;
    background: #acbbfb;
}
.view_div {
    border-bottom: 1px dashed #8687a7;
}
.table{
    border-collapse: collapse; border-spacing: 0; width: 100%;
}

.logo-light,
.logo-dark {
  width: 100%;
  text-align: center;
}
.logo-light,
.logo-dark {
  width: 100%;
  text-align: center;
}
.logo-light .logo-lg img,
.logo-dark .logo-lg img {
  margin-top: 10px;
  margin-bottom: 40px;
  height: 55px;
}
#sidebar-menu ul li a{
    /* padding-left: 5px !important; */
    padding-right: 5px !important;
}
.table-responsive{
    overflow-x: hidden !important;
}
.vertical-menu{
    min-width: 250px !important;
    max-width: 250px;
} 
.quotation_header img{
    height: 74px;
    margin-left: 30px;
}
.quotation_header span{
    margin-right: 10px;
    color: #e8b525;
}
.info label{
    font-size: 16px;
    color: #027c71;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 0;
}
.info span{
    color: #858080;
}
.share_icon_div .share_icon {
    margin-left: 8px;
    color: #f6957f;
    padding: 5px;
    border-radius: 2px;
  }
  .share_icon_div span{
    margin-left: 5px;
    font-size: 14px;
  }
  .quotation_table th {
    text-align: inherit;
    text-align: -webkit-match-parent;
    color: #027c71 !important;
    font-weight: 600 !important;
}
.quotation_table th, .quotation_table td {
    padding: 5px 15px !important;
    font-weight: 300;
    background: #ffffff !important;
}
.lb-outerContainer {
    position: relative;
    width: 350px;
    height: 350px;
}
.lightbox .lb-image {
    object-fit: contain;
    height: 350px !important;
    width: 350px !important;
}
.new_quotation img{
    height: 100px;
    margin-bottom: 10px;
}
.minus_mt{
    margin-top: -20px;
}
.invoice_border_left{
    border-left: 1px solid gray;
}
.newQuotation_info p{
    letter-spacing: 0.4px;
    margin-bottom: 3px;
}
.new_quotation h2{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #027c71;
    padding-left: 10px;
}
.Quotation_table .table th,.Quotation_table .table td {
    padding: 5px;
    font-weight: 300;
    font-size: 13px;
}
.newQuotation_TAC h4{
    font-weight: 600; font-size: 15px;
}
.newQuotation_TAC ul li{
    list-style: none;
}
.QTY_modal p{
    border: 1px solid #009688;
    border-radius: 50%;
    padding: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #009688;
}
.home_icn{
    font-size: 22px;
    margin-right: 7px;
    color: #73749f;
}
/* =----------------------------------------------- */
.main {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-plus {
    display: flex;
  }

  .inputs-set {
    border: none;
  }
  .email-input__w {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .input-field {
    border: none;
    border: 1px solid rgb(209, 209, 209);
    padding: 8px;
    margin-right: 4px;
    display: block;
  }

  .btn-submit,
  .btn-add-input,
  .btn-del-input {
    border: none;
    padding: 8px 12px;
  }

  .btn-submit {
    background-color: rgb(152, 247, 199);
  }

  .btn-add-input{
    background-color: rgb(231 247 221);
    margin-right: 4px;
    border-radius: 5px;
  }
  .btn-remove-input{
    background-color: rgb(231 247 221);
    margin-right: 4px;
    border-radius: 5px;
    border:none;
    padding: 5px 15px;
  }
  .btn-del-input {
    background-color: rgb(255, 127, 148);
  }
  .dark_pink{
    color:#e91e63;
  }
  .yellow{
    color:#eeb902;
  }
  .light_green{
    color:#45cb85;
  }
  .blue{
    color:#3b5de7;
  }
  .purple{
    color:#673ab7;
  }
  .badge-cold {
    color: #3F51B5;
    background-color: rgb(63 81 181 / 18%);
    font-weight: bold;
}
.lead_status_change{
    font-size: 14px;
    background: #f3faff;
    padding: 3px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #009688;
    font-weight: bold;
    border: 1px solid #009688;
}
body[data-layout="detached"] .page-title-box .breadcrumb-item > a {
    color: var(--header_text_color) !important;
}
body[data-layout="detached"] .page-title-box .breadcrumb-item + .breadcrumb-item::before, body[data-layout="detached"] .page-title-box .breadcrumb-item.active {
    color: var(--black_color) !important;
}
@media (max-width: 500px) {
    .vertical-menu {
      min-width: 200px;
      max-width: 200px;
      z-index: 1001;
      background: #ffff !important;
    }
  }
